*{
    
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

@media only screen and (max-device-width: 400px){
    body {
        width: 600px;
        margin: 0 auto 0 auto;
    }
    
    img {
       width: 100%; 
    }
    
    h1 {
        font-size: 4.7rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    h2 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .footer {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
}

@media only screen and (min-device-width: 400px) and (max-device-width: 600px) {
    body {
        width: 600px;
        margin: 0 auto 0 auto;
    }
    
    img {
        width: 100%
    }
    
    h1 {
        font-size: 4.7rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    h2 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .footer {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
}

@media only screen and (min-device-width: 600px) and (max-device-width: 800px) {
    *{
    
    box-sizing: border-box;
    }

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    
    h1 {
        font-size: 4.7rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    h2 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    
    .footer {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .image400 {
        width: 100%;
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image400_600 {
        width: 100%;
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image600_800 {
        width: 100%;
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image800_1024 {
        width: 100%;
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image1024 {
        width: 100%;
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    img {
        width: 100%;
    }
    
    h1 {
        width: 100%;
    }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1024px) {
     *{
    
    box-sizing: border-box;
    }

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    
    h1 {
        font-size: 4.7rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    h2 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    
    .footer {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .image400 {
        width: 100%;
        -webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image400_600 {
        width: 100%;
        -webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image600_800 {
        width: 100%;
        /*-webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3;*/
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image800_1024 {
        width: 100%;
        /*-webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3;*/
        padding: 1.5% 3% 1.5% 3%;
    }
    
    .image1024 {
        width: 100%;
        -webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3;
        padding: 1.5% 3% 1.5% 3%;
    }
    
    img {
        width: 100%;
    }
    
    h1 {
        width: 100%;
    }

   .footer {
       clear: both;
   }
    .one, .two, .wrapper{
        webkit-column-count: 3; 
        -moz-column-count: 3; 
        column-count: 3;
    }
}